@import "./../../style/Color_And_Mixin";

.FirstSection
{
  > div
  {
    padding: 92px 0px;
    width: 100%;
    > *
    {
      padding: 0 74px;
    }

    @media screen and (max-width: 480px){
      > *
      {
        padding: 0px 16px;
      }
    }

    > &:nth-child(1)
    {
      background-color: $Black;
      width: 100%;
      padding-top: 368px;
      gap: 30px;
      @include FlexColumnCenterStart();

      > *
      {
        color: $White;
      }

      > h1
      {
        text-transform: uppercase;
        max-width: 792px;
      }

      @media screen and (max-width: 480px)
      {
        @include FlexColumnCenterCenter();
        > h1
        {
          width: auto;
          text-align: left;
        }
      }
    }
    > &:nth-child(2)
    {
      height: 100vh;
    }
  }
}

