@import "./../../style/Color_And_Mixin";

.FirstSection
{
  > div
  {
    width: 100%;
    > &:nth-child(1)
    {
      background-color: $LowWhite;
      width: 100%;
      height: 100vh;
      background-image: url("./../../image/Moscow.jpg");
      background-position: left;
      background-size: cover;
      background-repeat: no-repeat;
      @include FlexRowStartCenter();

      > &:after
      {
        width: 100%;
        height: 100vh;
        position: absolute;
        content: "";
        background-color: $BlackBlackout;
      }

      > *
      {
        z-index: 1;
        color: $White;
        text-shadow: 2px 2px 4px $BlackA05;
      }


      > h1
      {
        text-transform: uppercase;
        margin-left: 14%;
        width: 640px;
        text-shadow: 2px 2px 2px $BlackA05;
      }

      @media screen and (max-width: 480px)
      {
        @include FlexColumnEndCenter();
        > h1
        {
          position: relative;
          margin-left: 0;
          width: 85%;
          bottom: 11vh;
          text-align: left;
          overflow: hidden;
        }
      }
    }
    > &:nth-child(2)
    {
      height: 100vh;
    }
  }
}

