@import "./../../style/Color_And_Mixin";

.FirstSection
{
  > div
  {
    padding: 92px 74px;
    width: 100%;
    gap: 30px;

    @media screen and (max-width: 480px){
      padding: 92px 16px;
    }

    > &:nth-child(1)
    {
      position: relative;
      background-image: url("./../../image/Moscow.jpg");
      background-size: cover;
      background-position: left;
      width: 100%;
      min-height: 100vh;
      padding-top: 368px;
      @include FlexColumnCenterStart();
      >&:after
      {
        content: "";
        position: absolute;
        background-color: rgba(0,0,0,0.4);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      > *
      {
        z-index: 1;
        color: $White;
      }

      > h1
      {
        text-transform: uppercase;
        max-width: 792px;
      }

      @media screen and (max-width: 480px)
      {
        @include FlexColumnCenterCenter();
        > h1
        {
          width: auto;
          text-align: left;
        }
      }
    }
    > &:nth-child(2)
    {
      background-color: $White;
      @include FlexColumnStartStart();
    }
    > &:nth-child(3)
    {
      background-color: $Black;
      @include FlexColumnStartStart();
      > h1
      {
        color: $White;
      }
    }
  }
}

.GridDiv
{
  display: grid;
  justify-content: space-between;
  align-content: space-between;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 56px;
  
  @media screen and (max-width: 1280px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  
  @media screen and (max-width: 768px){
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

.GridCard
{
    width: auto;
    height: auto;
    @include FlexColumnStartCenter();
    > img
    {
      width: 100%;
      height: auto;
      margin-bottom: 24px;
      border-radius: 16px;
    }
  > h4
  {
    width: 100%;
  }
}

.InteractiveMap
{
  width: 100%;
  height: 70vh;
  background-color: $White;
  border-radius: 16px;
  overflow: hidden;
}


