@import "./../../style/Color_And_Mixin";

.ImageHelloSection
{
  background-image: url("./../../image/photo3.png");
  background-position: center;
}

.SectionColor
{
  background-color: $Red;
  > *
  {
    color: $White;
  }
}