@import "./../../style/Color_And_Mixin";

.PagesCategorySkeleton
{
  > section
  {
    padding: 92px 74px;
    width: 100%;
    gap: 30px;

    @media screen and (max-width: 480px){
      padding: 92px 16px;
    }
  }
}

.HelloSection
{
  position: relative;
  background-size: cover;
  min-height: 100vh;
  padding-top: 368px !important;
  @include FlexColumnCenterStart();
  >&:after
  {
    content: "";
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  > *
  {
    z-index: 1;
    color: $White;
  }

  > h1
  {
    text-align: left;
    text-transform: uppercase;
    max-width: 818px;
  }

  @media screen and (max-width: 480px)
  {
    @include FlexColumnCenterCenter();
    > h1
    {
      width: auto;
    }
  }
}

.SectionOne
{
  background-color: $White;
  height: auto;
  @include FlexColumnBetweenCenter();
  > h2
  {
    width: 100%;
    text-align: left;
  }
  *
  {
    text-align: justify;
  }
  > div
  {
    display: grid;
    justify-content: space-between;
    align-content: space-between;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 8%;
    grid-row-gap: 0%;
    height: auto;
    > div
    {
      @include FlexColumnStartStart();
      gap: 30px;
      > img
      {
        width: 100%;
        height: 23vmax;
        object-fit: cover;
        border-radius: 16px;
      }
    }

    @media screen and (max-width: 1023px) {
      grid-template-columns: auto;
      grid-template-rows: auto auto;
      grid-column-gap: 0%;
      grid-row-gap: 30px;
      > div > img
      {
        height: auto;
      }
    }
  }
}

.SectionTwo
{
  @include FlexColumnStartStart();
}

.SectionThree
{
  @include FlexColumnStartStart();
}