@import "./../../style/Color_And_Mixin";

.Button
{
  padding: 10px 24px;

}

.ButtonMobile
{
  padding: 10px 0px;
}

.ButtonLogo
{
  background-color: rgba(0,0,0,0);
  color: $White;
}

.ButtonNav
{
  background-image: url("./../../image/view_headline.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  background-color: rgba(0,0,0,0);
}

.ButtonFilled
{
  background-color: $Blue;
}

.ButtonOutlined
{
  background-color: rgba(0,0,0,0);
  border: 2px solid $DarkBlue;
}

.ButtonText
{
  background-color: rgba(0,0,0,0);
  color: $White;
}

.ButtonElevated
{
  background-color: $LowWhite;
  box-shadow: 0 0 2px 2px $BlackA05;
}

.ButtonTonal
{
  background-color: $White;
}