@import "./../../style/Color_And_Mixin";

.Button
{
  padding: 10px 24px;
  @include FlexRowBetweenCenter();
}

.ButtonWidthAuto
{
  padding: 10px 24px;
  @include FlexRowCenterCenter();
  width: 100%;
}

.ButtonLogo
{
  background-image: url("./../../image/moscow-svgrepo-com.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  background-color: rgba(0,0,0,0);
  transition: 0.5s transform, 0.5s filter;
  > &:hover
  {
    transform: scale(1.3);
  }
}

.ButtonNavMenu
{
  background-image: url("./../../image/view_headline.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  background-color: rgba(0,0,0,0);
  transition: 0.5s transform, 0.5s filter;
  > &:hover
  {
    transform: scale(1.3);
  }
}

.ButtonNav
{
  margin: 8px 74px;
  gap: 8px;
  @media screen and (max-width: 1279px){
    margin: 8px 32px;
  }
  @media screen and (max-width: 480px) {
    margin: 8px 16px;
  }
  > img
  {
    height: 100%;
    @media screen and (max-width: 1279px){
      height: 48px;
    }
  }
}

.ButtonText
{
  background-color: rgba(0,0,0);
  color: $White;
  border-radius: 4px;
  box-shadow: 0 0 4px 2px $BlackA05;
  filter: invert(0%);
  transition: 0.5s filter;
  text-decoration: none;
  > &:hover
  {
    filter: invert(100%);
  }
}