@import "./../../../style/Color_And_Mixin";

.HelloSection
{
  position: relative;
  background-image: url("./../../../image/calendary.png");
  background-size: cover;
  background-position: left;
  padding-top: 368px;
  background-color: $White;
  gap: 0px;
  @include FlexColumnCenterStart();
  >&:after
  {
    content: "";
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  > *
  {
    width: 100%;
    overflow-wrap: break-word;
    z-index: 1;
    color: $White;
  }
}

.Section
{
  min-height: 100vh;
  width: 100%;
}

.SectionSetting
{
  min-height: auto;
  background-color: $White;
  @include FlexColumnStartStart();
  gap: 48px !important;
  > div
  {
    @include FlexColumnStartStart();
    gap: 24px;
    > div
    {
      @include FlexRowStartCenter();
      gap: 16px;
      flex-wrap: wrap;
      > h4
      {
        @include FlexRowStartCenter();
        overflow-wrap: break-word;
        gap: 16px;
        > &:nth-child(1):before
        {
          content: "";
          border-radius: 100%;
          background-color: $Black;
          width: 16px;
          height: 16px;
        }
      }
      > *
      {
        justify-self: start;
        align-self: center;
      }
    }
  }
}

.SectionList, .SectionMap
{
  background-color: $Black;
  @include FlexColumnStartStart();
  > *
  {
    color: $White;
  }
}