@import "./../../style/Color_And_Mixin";

.GridDiv
{
  display: grid;
  justify-content: space-between;
  align-content: space-between;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 56px;

  @media screen and (max-width: 1280px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  @media screen and (max-width: 768px){
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

.GridCard
{
  width: auto;
  height: auto;
  @include FlexColumnStartCenter();
  > div
  {
    position: relative;
    margin-bottom: 24px;
    > img
    {
      width: 100%;
      height: auto;
      border-radius: 16px;
    }
    > div
    {
      position: absolute;
      top: 0;
      border-radius: 16px;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.5);
      transition: 0.5s opacity;
      opacity: 0;
      z-index: 1;
      @include FlexColumnCenterCenter();
      > img
      {
        width: 40%;
      }
    }
    > &:hover > div
    {
      opacity: 1;
    }
  }
  > h4
  {
    color: $Black;
    width: 100%;
  }
}