@import "./../../style/Color_And_Mixin";

.ListBlock
{
  width: 100%;
  height: 70vh;
  overflow-y: scroll;
  border-radius: 16px;
  background-color: $White;
  overflow-x: hidden;
  gap: 4px;
  @include FlexColumnStartStart();
}

.ElementBlock
{
  padding: 16px;
  gap: 16px;
  width: 100%;
  height: auto;
  background-color: $LowWhite;
  @include FlexRowStartStart();
  > div:nth-child(1)
  {
    width: 10%;
    gap: 16px;
  }
  > div:nth-child(2)
  {
    gap: 8px;
    > div:nth-child(1)
    {
      > *
      {
        overflow: hidden;
        text-overflow: ellipsis;
        color: $Black;
      }
      @include FlexColumnStartStart();
    }
    > div:nth-child(2)
    {
      gap: 16px;
      @include FlexRowStartCenter();
    }
    width: 90%;
    @include FlexColumnStartStart();
  }
}

.ElementImgActive
{
  border-radius: 100%;
}