@import "./../../style/Color_And_Mixin";

.ListBlock
{
  width: 100%;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0 0 16px 8px $GrayWhiteA05;
  background-color: $White;
  gap: 2px;
  @include FlexColumnStartStart();
}

.ListZone
{
  width: 100%;
  height: 70vh;
  gap: 2px;
  @include FlexColumnStartStart();
  overflow-x: hidden;
  overflow-y: overlay;
}

.ListCenter
{
  @include FlexColumnCenterCenter();
  > *
  {
    color: $Black;
    text-align: center;
  }
}

.ElementBlock
{
  padding: 16px;
  width: 100%;
  gap: 16px;
  background-color: $LowWhite;
  @include FlexRowStartCenter();
  @media screen and (max-width: 480px) {
    @include FlexColumnStartStart();
  }
}

.ElementText
{
  width: auto;
  gap: 8px;
  > div:nth-child(1)
  {
    > *
    {
      height: auto;
      width: auto;
      color: $Black;
    }
    @include FlexColumnStartStart();
  }
  > div:nth-child(2)
  {
    gap: 16px;
    @include FlexRowStartCenter();
    flex-wrap: wrap;
  }
  @include FlexColumnStartStart();
}

.ElementImg
{
  @include FlexColumnCenterCenter();
  border-radius: 96px;
  background-color: $Black;
  box-shadow: 0 0 4px 2px $BlackA05;
  width: 96px;
  height: 96px;
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  flex-shrink: 0;
}

.ElementPassive
{
  background-color: $Gray;
}

.ElementImgFestivals
{
  background-image: url("./../../image/festivals_svg.svg");
}

.ElementImgActiveFestivals
{
  background-color: $Purple;
}

.ElementImgSport
{
  background-image: url("./../../image/sport_svg.svg");
}

.ElementImgActiveSport
{
  background-color: $Green;
}

.ElementImgArt
{
  background-image: url("./../../image/art_svg.svg");
}

.ElementImgActiveArt
{
  background-color: $Red;
}

.ElementImgCitylife
{
  background-image: url("./../../image/citylife_svg.svg");
}

.ElementImgActiveCitylife
{
  background-color: $BlueLait;
}

.ElementImgExhibitions
{
  background-image: url("./../../image/exhibitions_svg.svg");
}

.ElementImgActiveExhibitions
{
  background-color: $Blue;
}

.ElementImgFamily
{
  background-image: url("./../../image/family_svg.svg");
}

.ElementImgActiveFamily
{
  background-color: $Yellow;
}