@import "./../../style/Color_And_Mixin";

.HeaderDesktop
{
  width: 100%;
  padding: 20px 74px;
  height: auto;
  position: fixed;
  top: 0;
  z-index: 10;
  transition: 0.5s background-color;
  @include FlexRowBetweenCenter();

  *
  {
    transition: 0.5s color;
  }

  > nav
  {
    width: auto;
    @include FlexRowStartCenter();
    flex-wrap: wrap;
  }

  @media screen and (max-width: 1279px){
    padding: 20px 32px;
  }
}

.HeaderMobile
{
  width: 100%;
  height: 92px;
  padding: 20px 74px;
  @media screen and (max-width: 480px) {
    padding: 20px 16px;
  }
  height: auto;
  position: fixed;
  top: 0;
  z-index: 10;
  @include FlexRowBetweenCenter();
  transition: 0.5s background-color;

  *
  {
    transition: 0.5s color;
  }
  > button:last-child, > button:first-child
  {
    transition: 0.5s filter;
  }
}

.HeaderBackgroundDark
{
  background-color: rgba(0,0,0,1);
  *
  {
    color: $White;
  }
  > button:last-child, > button:first-child
  {
    filter: invert(0%);
  }
}

.HeaderBackgroundBlack
{
  background-color: rgba(0,0,0,0);
  *
  {
    color: $White;
  }
  > button:last-child, > button:first-child
  {
    filter: invert(0%);
  }
}

.HeaderBackgroundWhite
{
  background-color: $White;
  *
  {
    color: $Black;
  }
  > button:last-child, > button:first-child
  {
    filter: invert(100%);
  }
}

.Nav
{
  position: fixed;
  top: 0;
  z-index: 9;
  @include FlexColumnCenterStart();
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,1);
  transition: 0.5s opacity;
}

.NavTrueClick
{
  opacity: 1;
  left: 0;
}

.NavFalseClick
{
  opacity: 0;
  animation: animationLeftTimer 0.51s;
  left: -100%;
}

@keyframes animationLeftTimer {
  from
  {
    left: 0;
  }
  99%
  {
    left: 0;
  }
  to
  {
    left: -100%;
  }
}