$White: rgba(255,255,255,1);
$WhiteA05: rgba(255,255,255,0.5);
$LowWhite: rgb(204, 223, 241);
$LowWhiteA05: rgba(222,229,235,0.5);
$Black: rgba(14,14,14,1);
$BlackA05: rgba(0,0,0,0.5);
$BlackBlackout: rgba(0,0,0,0.4);
$BlackGray: rgba(31,31,31,1);
$LowBlue: rgb(128, 163, 255);
$MiddleBlue: rgb(72, 123, 255);
$DarkBlue: rgba(46,52,66,1);
$DarkBlueA05: rgba(46,52,66,0.5);
$Red: rgba(224,27,27,1);
$Blue: rgba(28,125,215,1);
$Green: rgba(63,195,60,1);
$Yellow: rgba(225,178,12,1);
$Purple: rgba(176, 55, 196, 1);
$Hover: rgba(103,80,164,0.3);

@mixin FlexRowStartStart()
{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

@mixin FlexRowStartCenter()
{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

@mixin FlexRowEndCenter()
{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

@mixin FlexRowCenterCenter()
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin FlexRowBetweenCenter()
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@mixin FlexRowBetweenStart()
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

@mixin FlexRowAroundCenter()
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

@mixin FlexRowEvenlyCenter()
{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

@mixin FlexColumnStartCenter()
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@mixin FlexColumnReverseStartCenter()
{
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;
}

@mixin FlexColumnStartStart()
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

@mixin FlexColumnBetweenCenter()
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@mixin FlexColumnBetweenStart()
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

@mixin FlexColumnCenterStart()
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@mixin FlexColumnEndCenter()
{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

@mixin FlexColumnCenterCenter()
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}