@import "./../../style/Color_And_Mixin";

.Page
{
  height: 100vh;
  width: 100%;
  @include FlexColumnCenterCenter();
  background-color: $White;
}

.BlockAuthorization
{
  width: auto;
  padding: 24px 32px;
  gap: 20px;
  border-radius: 16px;
  background-color: $LowWhite;
  @include FlexColumnStartStart();
  > h3
  {
    min-width: 280px;
    width: calc(280px + 1vw);
    overflow-wrap: break-word;
  }
}