.PageEvent > section:nth-child(1) {
  position: relative;
  background-size: cover;
  background-position: left;
  width: 100%;
  min-height: 100vh;
  padding-top: 368px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.PageEvent > section:nth-child(1):after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.PageEvent > section:nth-child(1) > * {
  z-index: 1;
  color: rgb(255, 255, 255);
}
.PageEvent > section:nth-child(1) > h1 {
  text-transform: uppercase;
  max-width: 792px;
}
@media screen and (max-width: 480px) {
  .PageEvent > section:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .PageEvent > section:nth-child(1) > h1 {
    width: auto;
    text-align: left;
  }
}
.PageEvent > section:nth-child(2) {
  background-color: rgb(255, 255, 255);
}
.PageEvent > section:nth-child(2) * {
  text-align: start;
}
.PageEvent > section:nth-child(3) {
  background-color: rgb(14, 14, 14);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 100vh;
}
.PageEvent > section:nth-child(3) > * {
  color: rgb(255, 255, 255);
}
.PageEvent > section:nth-child(4) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 100vh;
  background-color: rgb(255, 255, 255);
}
.PageEvent > section:nth-child(4) > * {
  color: rgb(14, 14, 14);
}
.PageEvent > section:nth-child(5) {
  background-color: rgb(14, 14, 14);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.PageEvent > section:nth-child(5) > div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 32px;
}
.PageEvent > section:nth-child(5) > div > div {
  min-width: 288px;
  gap: 24px;
  background-color: rgb(31, 31, 31);
  border-radius: 16px;
  padding: 24px;
  box-shadow: 0 0 16px 8px rgba(127, 127, 127, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.PageEvent > section:nth-child(5) > * {
  color: rgb(255, 255, 255);
}

.BlockNotification {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
}
.BlockNotification > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 32px;
}

.BlockStream {
  width: 100%;
  height: 70vh;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 16px 8px rgba(0, 0, 0, 0.5);
  background-color: rgb(215, 216, 232);
}

.MarginS {
  margin-bottom: 8px;
}

.MarginB {
  margin-bottom: 40px;
}

/*# sourceMappingURL=PageEvents.module.css.map */
