@import "./../../style/Color_And_Mixin";

.PageEvent
{
  > section
  {
    > &:nth-child(1)
    {
      position: relative;
      background-size: cover;
      background-position: left;
      width: 100%;
      min-height: 100vh;
      padding-top: 368px;
      @include FlexColumnCenterStart();
      >&:after
      {
        content: "";
        position: absolute;
        background-color: rgba(0,0,0,0.4);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      > *
      {
        z-index: 1;
        color: $White;
      }

      > h1
      {
        text-transform: uppercase;
        max-width: 792px;
      }

      @media screen and (max-width: 480px)
      {
        @include FlexColumnCenterCenter();
        > h1
        {
          width: auto;
          text-align: left;
        }
      }
    }
    > &:nth-child(2)
    {
      background-color: $White;
      *
      {
        text-align: start;
      }
    }
    > &:nth-child(4)
    {
      @include FlexColumnBetweenStart();
      min-height: 100vh;
      background-color: $White;
      > *
      {
        color: $Black;
      }
    }
    > &:nth-child(3)
    {
      background-color: $Black;
      @include FlexColumnBetweenStart();
      min-height: 100vh;
      > *
      {
        color: $White;
      }
    }
    > &:nth-child(5)
    {
      background-color: $Black;
      @include FlexColumnBetweenStart();
      > div
      {
        width: 100%;
        @include FlexRowBetweenStart();
        flex-wrap: wrap;
        gap: 32px;
        > div
        {
          min-width: 288px;
          gap: 24px;
          background-color: $BlackGray;
          border-radius: 16px;
          padding: 24px;
          box-shadow: 0 0 16px 8px $GrayA05;
          > &:nth-child(1)
          {
            @include FlexColumnStartStart();
          }
          > &:nth-child(2)
          {
            @include FlexColumnStartEnd();
            h3
            {
              text-align: right;
            }
          }
        }
      }
      > *
      {
        color: $White;
      }
    }
  }
}

.BlockNotification
{
  width: 100%;
  @include FlexColumnStartStart();
  gap: 16px;
  > div
  {
    @include FlexRowStartStart();
    flex-wrap: wrap;
    gap: 32px;
  }
}

.BlockStream
{
  width: 100%;
  height: 70vh;
  border-radius: 16px;
  overflow: hidden;
  @include FlexColumnCenterCenter();
  box-shadow: 0px 0px 16px 8px $BlackA05;
  background-color: $LowWhite;
}

.MarginS
{
  margin-bottom: 8px;
}

.MarginB
{
  margin-bottom: 40px;
}